/* Registration Form */
.registration-page {
  background: linear-gradient(
    180deg,
    rgb(73, 99, 130) 0%,
    rgb(44.36, 60.16, 79) 50%,
    rgb(15.72, 21.32, 28) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.registration-page .registration-overlap {
  height: 1716px;
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

/* Header */
.registration-overlap .header {
  background-color: transparent;
  height: 69px;
  left: 6.036rem;
  position: absolute;
  top: 2.5rem;
  width: 1250px;
}

.header .logo-link {
  position: absolute;
  top: 0;
  left: 949px;
  height: 77px;
  width: 301px;
  display: block;
  text-decoration: none;
}

.logo-link .header-logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header .back-btn-instance {
  left: 0 !important;
  position: absolute !important;
  top: 16px !important;
}

/* Registration Body */
.registration-page .register-logo {
  height: 562px;
  left: 152px;
  position: absolute;
  top: 170px;
  width: 322px;
}

.register-body .guidelines {
  height: 529px;
  left: 120px;
  top: 842px;
  width: 539px;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 15px;
}

.guidelines .guidelines-for-voter {
  color: transparent;
  font-family: "Gentium Book Plus", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 460px;
  left: 35px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 34px;
  width: 468px;
}

.guidelines-for-voter .guidelines-heading {
  color: #cdf006;
  font-weight: 700;
  align-items: left;
  display: flex;
}

.guidelines-for-voter .break {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
}

.guidelines-for-voter .guidelines-list {
  color: #ffffff;
  font-family: "Battambang", Helvetica;
  font-size: 20px;
  line-height: 2;
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.guidelines-for-voter .guidelines-list li {
  margin-bottom: 15px;
}

/* Footer */
.registration-page .footer {
  height: 135px;
  position: absolute;
  top: 1540px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 0px;
  cursor: pointer;
}

.footer .social-media img {
  margin: 0 10px;
  box-shadow: 0.25rem #00000040;
}

.footer .left-div,
.footer .right-div {
  height: 0.25rem;
  width: 476px;
  object-fit: cover;
  top: 32px;
}

.footer .left-div {
  position: absolute;
  right: 875px;
}

.footer .right-div {
  height: 0.288rem;
  position: absolute;
  left: 875px;
}

.footer .social-media img.instagram-logo {
  height: 46px;
  position: relative;
  top: 30px;
  width: 49px;
}

.footer .social-media img.facebook-logo {
  height: 36px;
  position: relative;
  top: 26px;
  width: 41px;
}

.footer .social-media img.twitter-logo {
  height: 45px;
  position: relative;
  top: 28px;
  width: 50px;
}

.footer .footer-logo {
  text-align: center;
}

.footer .footer-logo .logo-image {
  height: 27px;
  width: 125px;
  cursor: pointer;
}

.footer-logo .logo-image .footer-logo-img {
  object-fit: cover;
  position: relative;
  top: 2.7rem;
}

.footer .Copyright-footer {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  color: #ffffffb2;
  font-family: "Crimson Text", Helvetica;
}

.Copyright-footer .label .copyright-text-wrapper {
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  width: 64px;
  position: relative;
  top: 3.513rem;
  right: 130px;
  margin: 5px 0;
}

.Copyright-footer .copyright-icon {
  height: 1.25rem;
  position: relative;
  width: 1.25rem;
  top: 28px;
  left: -85px;
}

.Copyright-footer .copyright-icon .vector {
  height: 16px;
  left: 0.125rem;
  position: absolute;
  top: 0.125rem;
  width: 16px;
}

.Copyright-footer .label-1 .secure-vote {
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  width: 237px;
  position: relative;
  text-align: center;
  top: 0.35rem;
  left: 45px;
  white-space: nowrap;
  margin: 5px 0;
}
